.aureli {
    font-family: 'Josefin Sans';
}

.aureliII {
    font-family: 'Lato';
}

.colour {
    color: #FB2E86;
}

.papers {
    color: #151875;
}

.eko {
    color: #ACABC3
}

.delta {
    color: #0D0E43;
}

.outfile {
    color: red;
}